body{
  font-family:Arial, Helvetica, sans-serif;   
text-transform:uppercase ; 
}  
table,th,td{  
  border:1px solid pink;  
  border-collapse:collapse;  
  text-align:center;    
  margin:1px;    
  padding:20px;
} 
table{ 
  width:800px  
} 
img{   
  width:300px;
}  
p, a {text-trasform:none} 
p{
  font- size: 50px; }
a{
  font- size: 20px;}
